<td>
  <button class="btn btn-secondary btn-sm dropdown-toggle skill-table-btn" type="button" data-skillid='{{skillIdAtIndex c_skills index}}' data-charskillid='{{idAtIndex c_skills index}}' data-lvl={{lvl}} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{skillNameAtIndex c_skills index}}
  </button>
  <div class="dropdown-menu" id="skill-dropdown-menu">
    <a class="dropdown-item" href="#">None</a>
    {{#each skills}}
    <a class="dropdown-item" data-skillid={{this.id}} data-name={{this.display_name}} href="#">{{this.display_name}}</a>
    {{/each}}
  </div>
</td>

<!-- see: https://stackoverflow.com/questions/32059213/how-can-i-share-the-dropdown-menu-definition-accross-multiple-buttons
for info on how to attach the same dropdown to multiple buttons -->
